*{
    margin: 0;
    padding: 0;
}

body {
    color: yellow;
    background-color: darkslategrey;
    font-family: sans-serif;

}

a {
    color: yellow;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-size: 72px;
    line-height: 92px;
    padding: 2rem;
}

.content span {
    margin: 2rem;
    max-width: 800px;
}

@media (max-width: 700px) {
    .content {
        padding: 0;
        font-size: 66px;
        line-height: 76px;
    }
    .content span {
        margin: 1rem;
    }
}