* {
    margin: 0;
    padding: 0;
}

:root {
    --bg: #090D10;
    --primary: #D3E9E9;
}

body {
    color: var(--primary);
    background-color: var(--bg);
    font-family: sans-serif;
    overflow-x: hidden;
}

a {
    color: var(--primary);
}

.header {
    height: 2rem;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 2rem 2rem 0rem 2rem;
}

.githublink:hover {
    text-decoration: none;
}

.githubButton {
    cursor: pointer;
    padding: 10px 22px 10px 22px;
    border-radius: 20px;
    background-color: var(--primary);
    color: var(--bg);
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: 2px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.githubButton:hover {
    color: var(--primary);
    background-color: var(--bg);
    outline: 2px solid var(--primary);
}

.githubButton:hover .maskbg {
        background-color: var(--primary);
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 72px;
    font-weight: 500;
    line-height: 84px;
    padding: 2rem 0rem;
}

.content span {
    margin: 2rem;
    max-width: 700px;
}

.content .explainerText {
    font-size: 20px;
    line-height: 36px;
    width: 75%;
}

.imageContainer {
    height: 400px;
    width: 400px;
    margin: auto;
    display: block;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url("");
}

.mask {
    -webkit-mask-image: url("/github.png");
    mask-image: url("/github.png");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    height: 30px;
    width: 30px;
    margin-left: 1rem;
}

.maskbg {
    height: 30px;
    width: 30px;
    display: block;
    background-color: var(--bg);
}

@media (max-width: 700px) {
    body {
        overflow-y: hidden;
    }
    .githubButton {
        font-size: 14px;
        padding: 5px 15px 5px 15px;
    }
    .header {
        height: 3rem;
        padding: 1rem;
    }
    .contentWrapper {
        flex-direction: column;
    }
    .content {
        padding: 0;
        font-size: 36px;
        line-height: 46px;
    }
    .content span {
        margin: .5rem;
    }
    .content .explainerText {
        font-size: 16px;
        line-height: 32px;
    }
}
